APP_NAME="portfolio"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/dashboard/portfolio/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=portfolio
DB_USER=root
DB_PASS=

SESSION_NAME=portfolio_session

UPLOAD_MAX_SIZE=52428800
